.three-columns {
  div {
    width: 33%;
    padding: 1rem;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.two-columns {
  div {

    padding: 1rem;

    img {
      width: 100%;
      height: auto;
    }
  }
}

p {
  font-size: 1.3rem;
  line-height: 1.3;
}
