.ball {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  position: absolute;
  border-radius: 50%;
  animation: bounce 1.5s ease-out 1s 3;
}
@keyframes bounce {
  0% { 
    top: 0px; 
  }
  50% { 
    top: 250px; 
    /* background-color: red; */
  }
  100% { 
    top: 0px; 
  }
}