.box { 
  display: inline-block;
  padding: 20px;
  
  background: white;
  margin-left: 0; 
  transition: all 2s ease-out 1s; 

  /* mudando para linear a velocidade vai ser constante
	transition: all 2s linear 1s; 
  */
} 

.box:hover { 
  background: black; 
  margin-left: 600px;
  /*

  */
}