body {
  background-color: #ccc;
}

.espacamento {
  width: 500px;
  height: 500px;
  margin: 0 auto;

  background-color: #ddd;
  padding: 50px;
}

.pesquisa {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 25px;
  padding: 5px 25px;
  width: 164px;
}

.pesquisa input {
  outline: none;
  border: none;
}
